[Unit]
Description=Arduino App CLI daemon Service
After=network-online.target docker.service arduino-router.service
Wants=network-online.target docker.service arduino-router.service

[Service]
ExecStart=/usr/bin/arduino-app-cli daemon --port 8800 --log-level error
User=arduino
Group=arduino
Environment="ARDUINO_ROUTER_SOCKET=/var/run/arduino-router.sock"
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
