[Unit]
Description=Burn arduino zephyr bootloader on first boot
After=fs-local.target
ConditionPathExists=!/var/lib/arduino-app-cli/bootloader_burned.flag

[Service]
Type=oneshot
RemainAfterExit=true
User=1000
Group=arduino
ExecStart=/usr/bin/arduino-cli burn-bootloader -b arduino:zephyr:unoq -P jlink
ExecStartPost=/bin/mkdir -p /var/lib/arduino-app-cli
ExecStartPost=/bin/touch /var/lib/arduino-app-cli/bootloader_burned.flag
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
